html
body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.header{
    background-color:#FFF;
border-bottom:1px solid #e7e9fc;}

.section{
    padding-top:120px ;
    padding-bottom: 120px;}

img{display: block;}
    
.container 
{ 
    padding-right: 15px;
    padding-left: 15px; 
    width: 1158px;
    margin:  auto;
    display: flex;
}
.nav{
    display: flex;
    align-items: center;}
.titleweb{
    margin-right: 76px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.17;
    font-weight: 700;
    text-transform: uppercase;
    color:#4d5ae5;
    letter-spacing: 0.03em;
    }
.span{color:#2e2f42;}
.links{
    display:flex;
    gap: 40px;
}
.link{ 
    color:#2e2f42;
    font-size: 16px;
    font-style: normal;
    font-weight: 500; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    }
.link:hover:hover{color: #404bbf;}
.link:focus:focus{color:#404bbf;}
.studio{
    padding-top: 24px;
    padding-bottom: 24px;}

    .port{
    padding-top: 24px;
    padding-bottom: 24px;}

    .con{
    padding-top: 24px;
    padding-bottom: 24px;
    }


    .adress{
    font-style: normal;}

    .links-two{
    display: flex;
    gap: 40px;
    }
.email{
    padding-top: 24px;
    padding-bottom: 24px;}

    .tel{
    padding-top: 24px;
    padding-bottom: 24px;
}
.info{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;}
.info:hover{color:#404bbf;}
.info:focus{color: #404bbf;}



.section{
    background:#2E2F42;
    padding-top: 188px; 
    padding-bottom: 188px;}



.esyb{
    max-width: 496px;
    font-family: "Roboto", sans-serif;
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.12px;
    font-size: 56px;
    line-height: 1.07;}
    


    .button-main{
    border-radius: 4px;
    border: none;
    height: 56px ;
    min-width: 169px;
    display: block;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    color:#ffffff;
    background-color:#4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.button-main:hover{background-color: #404BBF;}
.button-main:focus{background-color: #404BBF;}



.visually-hidden
{margin-bottom: 8px;
    display: none;
}

.skills{
    display: flex;
    gap: 24px;}
.one{width: calc((100% - 72px) / 4); }
.two{width: calc((100% - 72px) / 4); }
.three{width: calc((100% - 72px) / 4); }
.four{width: calc((100% - 72px) / 4); }

.stra{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;}

    .text-str{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;}

.section-three{
    padding: 120px 0 120px ;
    background-color: #F4F4FD}

.container-three{ 
    padding-top: 32px; 
    padding-bottom: 32px;}

    .team { 
    
    margin-bottom: 72px;
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.products{
    width: calc((100% - 72px) / 4);
    display: flex;
    gap: 24px;
}

.total{ 
    padding-top: 32px; 
    padding-bottom: 32px;}


.product-a{
    background-color:#FFFFFF; 
    border-radius: 0px 0px 4px 4px;
    }

.product-b{
    background-color:#FFFFFF; 
    border-radius: 0px 0px 4px 4px;
  }
.product-c{
    background-color:#FFFFFF; 
    border-radius: 0px 0px 4px 4px;
    }
.product-d{
    background-color:#FFFFFF; 
    border-radius: 0px 0px 4px 4px;
    }

.name{ 
    text-align: center;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:  #2e2f42;
}

.text{ 
    font-size: 16px;
    letter-spacing:0.02em;
    line-height: 1.5;
    color: #434455;
    text-align: center;}




.our-port{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
    }  

    .first{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
}
.second{
    color:#434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


.foot{background-color:#2E2F42}    

.titlefoot{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-span{color:#f4f4fd;}

.foot-text{
    color:#F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}